<!DOCTYPE html>
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="Vuexy admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Chat Application - Vuexy - Bootstrap HTML admin template</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/vendors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/forms/select/select2.min.css' %}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/bootstrap-extended.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/colors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/components.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/dark-layout.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/bordered-layout.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/semi-dark-layout.min.css' %}">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/menu/menu-types/vertical-menu.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/app-chat.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/app-chat-list.min.css' %}">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <!-- END: Custom CSS-->

  </head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->
  {% block content %}
  
  <body class="vertical-layout vertical-menu-modern content-left-sidebar navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="content-left-sidebar">

    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow container-xxl">
      <div class="navbar-container d-flex content">
        <div class="bookmark-wrapper d-flex align-items-center">
          <ul class="nav navbar-nav d-xl-none">
            <li class="nav-item"><a class="nav-link menu-toggle" href="#"><i class="ficon" data-feather="menu"></i></a></li>
          </ul>
          <ul class="nav navbar-nav bookmark-icons">
            <li class="nav-item d-none d-lg-block"><a class="nav-link" href="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Calendar"><i class="ficon" data-feather="calendar"></i></a></li>
            <li class="nav-item d-none d-lg-block"><a class="nav-link"  data-bs-toggle="modal" data-bs-target="#addNewCard" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add Group"><i class="ficon" data-feather="check-square"></i></a></li>
          </ul>
        
          <!-- add new card modal  -->
          <div class="modal fade" id="addNewCard" tabindex="-1" aria-labelledby="addNewCardTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header bg-transparent">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-sm-5 mx-50 pb-5">
                  <h1 class="text-center mb-1" id="addNewCardTitle">Add Group</h1>
                  
                  <!-- form -->
                  <form id="addNewCardValidation" class="row gy-1 gx-2 mt-75">
                    <div class="col-12">
                      <label class="form-label" for="modalAddCardNumber">Group Name</label>
                      <div class="input-group input-group-merge">
                        <input
                          id="groupTitle"
                          name="modalAddCard"
                          class="form-control add-credit-card-mask"
                          type="text"
                          placeholder="Gruop Name"
                          aria-describedby="modalAddCard2"
                          data-msg="Please enter your credit card number"
                        />
                        <span class="input-group-text cursor-pointer p-25" id="modalAddCard2">
                          <span class="add-card-type"></span>
                        </span>
                      </div>
                    </div>
                    <div>
                      <label class="form-label" for="select2-multiple">Add User</label>
                      <select class="select2 form-select" id="addUsers" multiple>
                        {% for user in userList %}
                        <option value="{{ user.id }}">{{ user.first_name}} {{ user.last_name}}</option>
                        {% endfor %}
                      </select>
                    
                  </div>
                    <div class="col-12 text-center">
                      <button type="submit" class="btn btn-primary me-1 mt-1" onclick="addGroup()">Submit</button>
                      <button type="reset" class="btn btn-outline-secondary mt-1" data-bs-dismiss="modal" aria-label="Close">
                        Cancel
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--/ add new card modal  -->

          <ul class="nav navbar-nav">
            <li class="nav-item d-none d-lg-block"><a class="nav-link bookmark-star"><i class="ficon text-warning" data-feather="star"></i></a>
              <div class="bookmark-input search-input">
                <div class="bookmark-input-icon"><i data-feather="search"></i></div>
                <input class="form-control input" type="text" placeholder="Bookmark" tabindex="0" data-search="search">
                <ul class="search-list search-list-bookmark"></ul>
              </div>
            </li>
          </ul>
        </div>
        <ul class="nav navbar-nav align-items-center ms-auto">
          <li class="nav-item dropdown dropdown-language"><a class="nav-link dropdown-toggle" id="dropdown-flag" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-in"></i><span class="selected-language">India</span></a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-flag"><a class="dropdown-item" href="#" data-language="en"><i class="flag-icon flag-icon-in"></i> India</a><a class="dropdown-item" href="#" data-language="fr"><i class="flag-icon flag-icon-fr"></i> French</a><a class="dropdown-item" href="#" data-language="de"><i class="flag-icon flag-icon-de"></i> German</a><a class="dropdown-item" href="#" data-language="pt"><i class="flag-icon flag-icon-pt"></i> Portuguese</a></div>
          </li>
          <li class="nav-item dropdown dropdown-user"><a class="nav-link dropdown-toggle dropdown-user-link" id="dropdown-user" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="user-nav d-sm-flex d-none"><span class="user-name fw-bolder">{{ username }}</span></div><span class="avatar"><img class="round" src="{% static 'app-assets/images/portrait/small/avatar-s-11.jpg' %}" alt="avatar" height="40" width="40"><span class="avatar-status-online"></span></span></a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user"><a class="dropdown-item" href="auth-login-cover.html"><i class="me-50" data-feather="power"></i> Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <ul class="main-search-list-defaultlist d-none">
      <li class="d-flex align-items-center"><a href="#">
          <h6 class="section-label mt-75 mb-0">Files</h6></a></li>
      <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between w-100" href="app-file-manager.html">
          <div class="d-flex">
            <div class="me-75"><img src="{% static 'app-assets/images/icons/xls.png' %}" alt="png" height="32"></div>
            <div class="search-data">
              <p class="search-data-title mb-0">Two new item submitted</p><small class="text-muted">Marketing Manager</small>
            </div>
          </div><small class="search-data-size me-50 text-muted">&apos;17kb</small></a></li>
      <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between w-100" href="app-file-manager.html">
          <div class="d-flex">
            <div class="me-75"><img src="{% static 'app-assets/images/icons/jpg.png' %}" alt="png" height="32"></div>
            <div class="search-data">
              <p class="search-data-title mb-0">52 JPG file Generated</p><small class="text-muted">FontEnd Developer</small>
            </div>
          </div><small class="search-data-size me-50 text-muted">&apos;11kb</small></a></li>
      <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between w-100" href="app-file-manager.html">
          <div class="d-flex">
            <div class="me-75"><img src="{% static 'app-assets/images/icons/pdf.png' %}" alt="png" height="32"></div>
            <div class="search-data">
              <p class="search-data-title mb-0">25 PDF File Uploaded</p><small class="text-muted">Digital Marketing Manager</small>
            </div>
          </div><small class="search-data-size me-50 text-muted">&apos;150kb</small></a></li>
      <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between w-100" href="app-file-manager.html">
          <div class="d-flex">
            <div class="me-75"><img src="{% static 'app-assets/images/icons/doc.png' %}" alt="png" height="32"></div>
            <div class="search-data">
              <p class="search-data-title mb-0">Anna_Strong.doc</p><small class="text-muted">Web Designer</small>
            </div>
          </div><small class="search-data-size me-50 text-muted">&apos;256kb</small></a></li>
      <li class="d-flex align-items-center"><a href="#">
          <h6 class="section-label mt-75 mb-0">Members</h6></a></li>
      <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between py-50 w-100" href="app-user-view-account.html">
          <div class="d-flex align-items-center">
            <div class="avatar me-75"><img src="{% static 'app-assets/images/portrait/small/avatar-s-8.jpg' %}" alt="png" height="32"></div>
            <div class="search-data">
              <p class="search-data-title mb-0">John Doe</p><small class="text-muted">UI designer</small>
            </div>
          </div></a></li>
      <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between py-50 w-100" href="app-user-view-account.html">
          <div class="d-flex align-items-center">
            <div class="avatar me-75"><img src="{% static 'app-assets/images/portrait/small/avatar-s-1.jpg' %}" alt="png" height="32"></div>
            <div class="search-data">
              <p class="search-data-title mb-0">Michal Clark</p><small class="text-muted">FontEnd Developer</small>
            </div>
          </div></a></li>
      <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between py-50 w-100" href="app-user-view-account.html">
          <div class="d-flex align-items-center">
            <div class="avatar me-75"><img src="{% static 'app-assets/images/portrait/small/avatar-s-14.jpg' %}" alt="png" height="32"></div>
            <div class="search-data">
              <p class="search-data-title mb-0">Milena Gibson</p><small class="text-muted">Digital Marketing Manager</small>
            </div>
          </div></a></li>
      <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between py-50 w-100" href="app-user-view-account.html">
          <div class="d-flex align-items-center">
            <div class="avatar me-75"><img src="{% static 'app-assets/images/portrait/small/avatar-s-6.jpg' %}" alt="png" height="32"></div>
            <div class="search-data">
              <p class="search-data-title mb-0">Anna Strong</p><small class="text-muted">Web Designer</small>
            </div>
          </div></a></li>
    </ul>
    <ul class="main-search-list-defaultlist-other-list d-none">
      <li class="auto-suggestion justify-content-between"><a class="d-flex align-items-center justify-content-between w-100 py-50">
          <div class="d-flex justify-content-start"><span class="me-75" data-feather="alert-circle"></span><span>No results found.</span></div></a></li>
    </ul>
    <!-- END: Header-->


    <!-- BEGIN: Content-->
    <div class="app-content content chat-application">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-area-wrapper container-xxl p-0">
        <div class="sidebar-left">
          <div class="sidebar"><!-- Admin user profile area -->
<div class="chat-profile-sidebar">
  <header class="chat-profile-header">
    <span class="close-icon">
      <i data-feather="x"></i>
    </span>
    <!-- User Information -->
    <div class="header-profile-sidebar">
      <div class="avatar box-shadow-1 avatar-xl avatar-border">
        <img src="{% static 'app-assets/images/portrait/small/avatar-s-11.jpg' %}" alt="user_avatar" />
        <span class="avatar-status-online avatar-status-xl"></span>
      </div>
      <h4 class="chat-user-name">John Doe</h4>
      <span class="user-post">Admin</span>
    </div>
    <!--/ User Information -->
  </header>
  <!-- User Details start -->
  <div class="profile-sidebar-area">
    <h6 class="section-label mb-1">About</h6>
    <div class="about-user">
      <textarea
        data-length="120"
        class="form-control char-textarea"
        id="textarea-counter"
        rows="5"
        placeholder="About User"
      >
Dessert chocolate cake lemon drops jujubes. Biscuit cupcake ice cream bear claw brownie brownie marshmallow.</textarea
      >
      <small class="counter-value float-end"><span class="char-count">108</span> / 120 </small>
    </div>
    <!-- To set user status -->
    <h6 class="section-label mb-1 mt-3">Status</h6>
    <ul class="list-unstyled user-status">
      <li class="pb-1">
        <div class="form-check form-check-success">
          <input
            type="radio"
            id="activeStatusRadio"
            name="userStatus"
            class="form-check-input"
            value="online"
            checked
          />
          <label class="form-check-label ms-25" for="activeStatusRadio">Active</label>
        </div>
      </li>
      <li class="pb-1">
        <div class="form-check form-check-danger">
          <input type="radio" id="dndStatusRadio" name="userStatus" class="form-check-input" value="busy" />
          <label class="form-check-label ms-25" for="dndStatusRadio">Do Not Disturb</label>
        </div>
      </li>
      <li class="pb-1">
        <div class="form-check form-check-warning">
          <input type="radio" id="awayStatusRadio" name="userStatus" class="form-check-input" value="away" />
          <label class="form-check-label ms-25" for="awayStatusRadio">Away</label>
        </div>
      </li>
      <li class="pb-1">
        <div class="form-check form-check-secondary">
          <input type="radio" id="offlineStatusRadio" name="userStatus" class="form-check-input" value="offline" />
          <label class="form-check-label ms-25" for="offlineStatusRadio">Offline</label>
        </div>
      </li>
    </ul>
    <!--/ To set user status -->

    <!-- User settings -->
    <h6 class="section-label mb-1 mt-2">Settings</h6>
    <ul class="list-unstyled">
      <li class="d-flex justify-content-between align-items-center mb-1">
        <div class="d-flex align-items-center">
          <i data-feather="check-square" class="me-75 font-medium-3"></i>
          <span class="align-middle">Two-step Verification</span>
        </div>
        <div class="form-check form-switch me-0">
          <input type="checkbox" class="form-check-input" id="customSwitch1" checked />
          <label class="form-check-label" for="customSwitch1"></label>
        </div>
      </li>
      <li class="d-flex justify-content-between align-items-center mb-1">
        <div class="d-flex align-items-center">
          <i data-feather="bell" class="me-75 font-medium-3"></i>
          <span class="align-middle">Notification</span>
        </div>
        <div class="form-check form-switch me-0">
          <input type="checkbox" class="form-check-input" id="customSwitch2" />
          <label class="form-check-label" for="customSwitch2"></label>
        </div>
      </li>
      <li class="mb-1 d-flex align-items-center cursor-pointer">
        <i data-feather="user" class="me-75 font-medium-3"></i>
        <span class="align-middle">Invite Friends</span>
      </li>
      <li class="d-flex align-items-center cursor-pointer">
        <i data-feather="trash" class="me-75 font-medium-3"></i>
        <span class="align-middle">Delete Account</span>
      </li>
    </ul>
    <!--/ User settings -->

    <!-- Logout Button -->
    <div class="mt-3">
      <button class="btn btn-primary">
        <span>Logout</span>
      </button>
    </div>
    <!--/ Logout Button -->
  </div>
  <!-- User Details end -->
</div>
<!--/ Admin user profile area -->

<!-- Chat Sidebar area -->
<div class="sidebar-content">
  <span class="sidebar-close-icon">
    <i data-feather="x"></i>
  </span>
  <!-- Sidebar Users start -->
  {% comment %} <button class="nav-link" type="button"  data-bs-toggle="modal" data-bs-target="#addNewCard" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add Group"></button> {% endcomment %}
  <div id="users-list" class="chat-user-list-wrapper list-group">
    <h4 class="chat-list-title">Chat Groups  <button type="button" data-bs-toggle="modal" data-bs-target="#addNewCard" class="btn-sm btn-primary">+ Add Group</button></h4>
    
    <ul class="chat-users-list chat-list media-list">
      {% for group in groupList %}
      <li onclick="handleOnClick('{{ group.user.id }}','{{ group.id }}','{{ group.title }}')">
        <span class="avatar"
          ><img
            src="{% static 'app-assets/images/portrait/small/avatar-s-3.jpg' %}"
            height="`42"
            width="42"
            alt="Generic placeholder image"
          />
          <span class="avatar-status-offline"></span>
        </span>
        <div class="chat-info flex-grow-1">
          <h5 class="mb-0">{{ group.title }}</h5>
        </div>
      </li>
      {% endfor %}
    </ul>
    <h4 class="chat-list-title">Users</h4>
    <ul class="chat-users-list contact-list media-list">
      {% for user in userList %}
      <li onclick="handleOnClick('{{ user.id }}',0,'{{user.first_name}} {{user.last_name}}')">
        <span class="avatar"
          ><img
            src="{% static 'app-assets/images/portrait/small/avatar-s-7.jpg' %}"
            height="42"
            width="42"
            alt="Generic placeholder image"
          />
        </span>
          <div class="chat-info">
            <h5 class="mb-0" id="recieverData">{{ user.first_name}} {{ user.last_name}}</h5>
            <p class="card-text text-truncate">
              Tart dragée carrot cake chocolate bar. Chocolate cake jelly beans caramels tootsie roll candy canes.
            </p>
          </div>
      </li>
      {% endfor %}
  
      <li class="no-results">
        <h6 class="mb-0">No Contacts Found</h6>
      </li>
    </ul>
  </div>
  <!-- Sidebar Users end -->
</div>
<!--/ Chat Sidebar area -->

          </div>
        </div>
        <div class="content-right">
          <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
            </div>
            <div class="content-body"><div class="body-content-overlay"></div>
<!-- Main chat area -->
<section class="chat-app-window">
  <!-- To load Conversation -->
  <div class="start-chat-area">
    <div class="mb-1 start-chat-icon">
      <i data-feather="message-square"></i>
    </div>
    <h4 class="sidebar-toggle start-chat-text">Start Conversation</h4>
  </div>
  <!--/ To load Conversation -->

  <!-- Active Chat -->
  <div class="active-chat d-none" id="chatData">
    <!-- Chat Header -->
    <div class="chat-navbar">
      <header class="chat-header">
        <div class="d-flex align-items-center">
          <div class="sidebar-toggle d-block d-lg-none me-1">
            <i data-feather="menu" class="font-medium-5"></i>
          </div>
          <div class="avatar avatar-border user-profile-toggle m-0 me-1" onclick="showGroup()">
            <img src="{% static 'app-assets/images/portrait/small/avatar-s-7.jpg' %}" alt="avatar" height="36" width="36" />
            <span class="avatar-status-busy"></span>
          </div>
          <h6 class="mb-0" id="recieverName"></h6>
        </div>
      </header>
    </div>
    <!--/ Chat Header -->

    <!-- User Chat messages -->
    <div class="user-chats">
      <div class="chats">
        
      </div>

      <input type="hidden" id="hidden1"/>
      <input type="hidden" id="hidden2"/>
      <input type="hidden" id="hiddenName"/>
      <input type="hidden" id="hidden3" value="{{ user.id }}"/>
    </div>
    <!-- User Chat messages -->

    <!-- Submit Chat form -->
    <div id="formData">
      <form class='chat-app-form' action='javascript:void(0);'>
        <div class='input-group input-group-merge me-1 form-send-message'>
          <span class='speech-to-text input-group-text'><i data-feather='mic' class='cursor-pointer'></i></span>
          <input type='text' class='form-control message' id='userMessage' placeholder='Type your message or use speech to text' />
          <input type='hidden' class='form-control message' id='reciever' />
          <input type='hidden' class='form-control message' id='group' />
          <span class='input-group-text'>
            <label for='attach-doc' class='attachment-icon form-label mb-0'>
              <i data-feather='image' class='cursor-pointer text-secondary'></i>
              <input type='file' id='attach-doc' hidden /> </label
          ></span>
        </div>
        <button type='button' class='btn btn-primary send' onclick="pushChat('{{ user.id }}')">
          <i data-feather='send' class='d-lg-none'></i>
          <span class='d-none d-lg-block' >Send</span>
        </button>
      </form>
      
    </div>
    <!--/ Submit Chat form -->
  </div>
  <!--/ Active Chat -->
</section>
<!--/ Main chat area -->

<!-- User Chat profile right area -->
<div class="user-profile-sidebar">
  <header class='user-profile-header'>
    <span class='close-icon'>
      <i data-feather='x'></i>
    </span>
    <!-- User Profile image with name -->
    <div class='header-profile-sidebar'>
      <div class='avatar box-shadow-1 avatar-border avatar-xl'>
        <img src='{% static 'app-assets/images/portrait/small/avatar-s-7.jpg' %}' alt='user_avatar' height='70' width='70' />
        
        <span class='avatar-status-busy avatar-status-lg'></span>
      </div>
      <h3 class="group-member-heading"> Group Members</h3>
      <div class="group-member-data">
      
      </div>
    </div>
    <!--/ User Profile image with name -->
  </header>
</div>
<!--/ User Chat profile right area -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END: Content-->

    <!-- BEGIN: Vendor JS-->
    <script src="{% static 'app-assets/vendors/js/vendors.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="{% static 'app-assets/js/core/app-menu.min.js' %}"></script>
    <script src="{% static 'app-assets/js/core/app.min.js' %}"></script>
    <script src="{% static 'app-assets/js/scripts/customizer.min.js' %}"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="{% static 'app-assets/js/scripts/forms/form-select2.min.js' %}"></script>
    <script src="{% static 'app-assets/js/scripts/pages/app-chat.min.js' %}"></script>
    <!-- END: Page JS-->

    <script>
      $(window).on('load',  function(){
        if (feather) {
          feather.replace({ width: 14, height: 14 });
        }
      })

      function handleOnClick(id,groupId,name){
        if($('#hidden1').val() !== id){
            $('#userMessage').val("")
          }
          $('#recieverName').html(name);
          $('#hidden1').val(id);
          $('#hidden2').val(groupId);
          $('#hiddenName').val(name);
          userId = $('#hidden3').val()
          var obj = {
            'id':id,
            'groupId':groupId
          };
          $.ajax({
              type: 'POST',
              url: 'getChat',
              data:obj,
              success: function (response) {
                $(".chats").empty();
                for (var key in response.data){
                  var class1="";
                  var img = "<img src='{% static 'app-assets/images/portrait/small/avatar-s-11.jpg' %}' alt='avatar' height='36' width='36'/>";
                  if(response.data[key].sender_id != userId){
                    var class1="chat-left";
                    var img = "<img src='{% static 'app-assets/images/portrait/small/avatar-s-7.jpg' %}' alt='avatar' height='36' width='36' />";
                  }
                  $(".chats").append("<div class='chat "+class1+"'><div class='chat-avatar'><span class='avatar box-shadow-1 cursor-pointer'>"+img+"</span></div><div class='chat-body'><div class='chat-content'><p>"+response.data[key].message+"</p></div></div></div>");
                }
              }
          });
        }
        
        setInterval(function () {
          id =  $('#hidden1').val();
          groupId = $('#hidden2').val();
          name = $('#hiddenName').val();
          if(id.length > 0){
            handleOnClick(id,groupId,name)
          }
        }, 1000);
      
        function pushChat(id){
          reciever = $('#hidden1').val();
          group = $('#hidden2').val();
          var obj = {
            'sender':id,
            'group':group,
            'message': $('#userMessage').val(),
            'reciever': reciever
          };
          $.ajax({
            type: 'POST',
            url: 'pushChat',
            data:obj,
            success: function (response) {
              $("#userMessage").val("");
            }
        });
        }
        function addGroup(){
          var obj = {
            'title':$('#groupTitle').val(),
            'member[]':$('#addUsers').val(),
            'user' : $('#hidden3').val()
          };
          $.ajax({
            type: 'POST',
            url: 'addGroup',
            data:obj,
            success: function (response) {
              $('#addNewCard').modal('toggle');
              $('div.success').html('Status changed').delay(1000).fadeOut();
              location.reload();
            }
        });
        }
        function showGroup(){
          var obj = {
            'group': $('#hidden2').val()
          };
          if($('#hidden2').val() !== '0'){
            $.ajax({
              type: 'POST',
              url: 'showGroup',
              data:obj,
              success: function (response) {
                $('.group-member-data').empty();
                for(var key in response.data){
                  var temp = "<h4 class='chat-user-name' id='recieverName'>"+ response.data[key] +"</h4>";
                  $('.group-member-data').append(temp); 
                }
              }
          });
          }else{
            $('.group-member-data').empty();
            $('.group-member-heading').html("");
            $('.group-member-data').append("<h4 class='chat-user-name' id='recieverName'>"+ $('#hiddenName').val() +"</h4>");
          }
        }
    </script>
  </body>
  <!-- END: Body-->
  {% endblock %}
</html>